*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  background-color: #1b1919;
  padding: 133px 30px;
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  font-family: inherit;
  font-weight: 700;
  color: #fff;
  font-size: 18px;
  border: 1px solid #fff;
  background-color: transparent;
  height: 34px;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
}

.button:active {
  text-decoration: none;
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content {
  width: 1140px;
  max-height: 534px;
  display: grid;
  column-gap: 30px;
  align-items: end;
}

.result {
  grid-area: 1 / 1 / 2 / 2;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-height: 54px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 5px;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 0 1px;
}

.search-form__label:hover {
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__label:has(:active) {
  outline: none;
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  border: 1px solid #fff;
  border-left: none;
  border-right: none;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  background-color: transparent;
  appearance: none;
  margin: 1px 0;
}

.search-form__textfield::placeholder {
  color: rgba(225, 225, 225, 0.7);
}

.search-form__textfield:active {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  outline: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  column-gap: 13px;
  padding-right: 2px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  margin-right: 5px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form__pseudo-checkbox::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #fff;
  display: none;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  display: block;
}

.search-form__submit-button {
  width: 194px;
  align-self: flex-end;
}

.content__details {
  grid-area: 1 / 2 / 2 / 3;
  width: 100%;
  height: 100%;
}

.title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  max-height: 210px;
  padding-top: 2px;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  margin-top: 24px;
  padding-top: 2px;
  height: 298px;
  overflow: auto;
  position: relative;
}

.content__list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.content__list-item {
  padding: 0 3px;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
  display: block;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  cursor: pointer;
}

/* Два селектора ховер с разным подчеркиванием для заголовка и текста */
.content__card-link:hover .content__video-card-title {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.content__card-link:hover .content__video-card-description {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.content__video-card-description-container {
  flex-grow: 1;
  max-width: 196px;
}

.content__video-card-title {
  padding-top: 3px;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  line-height: 16.2px;
  padding-top: 3px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  width: 390px;
  margin-left: 3px;
  margin-bottom: 2px;
  margin-top: 30px;
}
